.cproject
.project
.settings/
assets/
experiments/
src/*/*.o
src/*/*.dep
src/*/*.d
src/*/*.js
src/*/*.wasm
src/*/*/*.o
src/*/*/*.dep
src/*/*/*.d
src/common/libviz2d.so
src/tetra/tetra-demo
src/video/video-demo
src/nanovg/nanovg-demo
src/optflow/optflow-demo
src/beauty/beauty-demo
src/font/font-demo
src/pedestrian/pedestrian-demo
*.webm
*.mkv
apidoc/
docbook/
latex/
src/beauty/assets
src/beauty/beauty-demo.data
src/beauty/beauty.html
src/font/font-demo.html
src/optflow/optflow2.html
src/quad/quad-demo
src/quad/quad-demo.html
src/quad/tetra-demo.html

