[submodule "modules/v4d/third/imgui"]
	path = modules/v4d/third/imgui
	url = https://github.com/kallaballa/imgui.git
[submodule "modules/v4d/third/doxygen-bootstrapped"]
	path = modules/v4d/third/doxygen-bootstrapped
	url = https://github.com/kallaballa/doxygen-bootstrapped.git
